/* Brand Colors ------------------------------------------------*/
$color-primary: #232831;
$color-secondary: #676B90;
$color-textwhite: #f4f4f4;
$color-text2: #f4ba91;
$color-text3: #b5caff;
$color-bg: #f4f4f4;
$color-hover: #ffd3af;
$color-author: #3c469c;
$color-number: #676b90;

// fonts and colors FLORENSI
$color-fl-one: #fff9f9;
$color-fl-two: #cfafde;
$color-fl-three: #873f88;
$color-fl-four: #904760;
$color-fl-five: #4a1861;

// fonts and colors MIO CARO
$color-mi-one: #f1eeee;
$color-mi-two: #ffe8e4;
$color-mi-three: #b8bbcc;
$color-mi-four: #787994;
$color-mi-five: #16171b;

// fonts and colors CACTUSMANIA
$color-cm-one: #d9fdd9;
$color-cm-two: #67af43;
$color-cm-three: #608c33;
$color-cm-four: #3d5823;
$color-cm-five: #213111;

//TRIANGLE COLORS
$color-triangle-fl: #785580;
$color-triangle-mi: #676B90;
$color-triangle-cm: #608C33;

/* Font-Size ------------------------------------------------*/
$fs-tittle-h2: 72px;
$fs-fahk-h3: 72px;
$fs-tav-italic-span: 96px;
$fs-tav-italic-h3: 80px;
$fs-extralarge: 64px;
$fs-large: 36px;
$fs-medium: 24px;
$fs-small: 20px;
$fs-extraSmall: 18px;

/* Font-Weight ------------------------------------------------*/
$fw-semiBold: 700;
$fw-bold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;

/* Font-family ------------------------------------------------*/
$ff-fahkwang: 'Fahkwang', sans-serif;
$ff-taviraj: 'Taviraj', serif;