.workflow {
    margin-top: 100px;

    .ticker {
        margin-top: 68px;
        height: 68px;
        border: 1px solid $color-author;
        display: flex;
        align-items: center;

        .marquee {
            width:100%;
            white-space:nowrap;
            overflow:hidden;

            .ticker__menu {
                display: flex;

                &_item {
                    &-link {
                        color: $color-author;
                        font-size: 28px;
                        text-transform: uppercase;
                        line-height: 39px;
                        letter-spacing: 0.015em;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        padding: 0px 62px
                    }
                }
            }
        }
    }
}

